/* override some jquery.ui dialog styles */

.ui-dialog .ui-dialog-titlebar {
		height: 12px;
}

.ui-dialog-title {
		font-size: 12px;
		line-height: 12px;
}

.ui-widget, .ui-widget button {
		font-size: 10px;
		padding: 2px;
}

button.ui-button {
		padding: 2px;
}