#phylonode_popup_dialog {
    font-family: sans-serif;
    font-size: 0.75rem;
}

.org-legend-row {
    line-height: 0;
    white-space: nowrap;
    font-size: 0.7rem;
}

.org-legend-label {
    padding: 0.5em;
}

/* vertical align the '?' image within the help button */
a.phylogeny-help {
    line-height: 22px;
}
a.phylogeny-help img {
    margin: auto;
    vertical-align: middle;
    display: inline-block;
    height: 22px;
}
