#phylonode_popup_dialog {
    font-family: sans-serif;
    font-size: 0.75rem;
}

.organism-legend-row {
    line-height: 1.4;
    white-space: nowrap;
    font-size: 0.7rem;
}

.legend-organism-color {
}

.legend-organism-label {
    padding: 0.5em;
}